* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Titillium Web', sans-serif; */
background-color: skyblue;
text-align: center;
}

/* .container {
    max-width: 1200px;
    margin: auto;
} */

h1 {
    font-size: 30px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin: 0 0 120px 0;
}

h3 {
    font-size: 23px;
    text-align: center;
}

nav {

}

p, label {
    font-family: 'Titillium Web', sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: url(../bg.png), linear-gradient(to left, green, darkgreen); */
    background: linear-gradient(20deg, rgba(199, 124, 56, 80%) 25%, rgba(199, 124, 55, 50%), rgba(193, 204, 153, 50%) 75%), url(../bg2.jpg);
}

.header__nav {
    /* height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
    align-self: flex-start;
}

.header__nav.active {
    opacity: 1;
    width: 100%;
}

.header__icon {
    /* background-color: #fff;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    -webkit-box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.1);
    text-align: center;
    cursor: pointer; */
}

/* .header__menu {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
} */

.header__menu {
    display: flex;
    position: absolute;
    list-style: none;
    left: 50%;
}

.header__item {
    text-transform: uppercase;
    width: 140px;
    height: 80px;
}

.header__item:hover {
    background-color: white;
}

.header__item:active {
    background: linear-gradient(to bottom, white, lightgray);
}
/* 
.header__lines {
    position: relative;
    margin-top: 3.5rem;
} */

.header__item a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

img {
    max-width: 100%;
}

/* .header__lines active {
    transform: rotate(-51deg);
} */
/* .header__lines::before {
    top: -.8rem;
}

.header__lines::after {
    top: .8rem;
}
.header__lines, .header__lines::before, .header__lines::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
}

.header__lines::before, .header__lines::after {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
} */

.header__bg {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(#7ed56f, #28b485);
    z-index: 1000;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1),-webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

section {
    height: 100vh;
}

h5 {
    font-size: 15px;
}

.projects__list {
    display: grid;
    grid: auto-flow/24% 24% 24%;
    grid-gap: 4%;
    justify-content: center;
}

.projects__item {
    display: grid;
    grid: 13% 68% 20% 30%/auto;
}

.projects__tec {
    display: grid;
    grid: 3fr repeat(3, 2fr)/auto;
    justify-content: center;
}

.projects__image:hover + .projects__bg {
    background: rgb(0, 128, 0);
    display: block;
}

.main__aboutme2 {
    display: grid;
    grid: 15% 66% 10%/auto;
}

.main__aboutme2 p{
    margin: 20px;
}
.main__aboutme2 img{
    clip-path: none;
}

.projects__image2 {
    height: 100%;
    justify-self: center;
    clip-path: circle(50%);
    max-width: 100%;
}

.projects__tec li {
}

.skills__list {
    display: grid;
    grid: auto-flow/ 27% 27%;
    justify-content: center;
    grid-gap: 6%;
}

.form {
    display: grid;
    grid: auto-flow/30% 30%;
    grid-gap: 10%;
    justify-content: center;
}

.contact__medias {
    display: grid;
    grid: auto-flow/repeat(4, 25%);
    list-style: none;
    max-width: 500px;
    margin: 70px auto 80px auto;
}

.form__item {
    display: grid;
    grid: 20% repeat(3, 1fr)/auto;
    height: 280px;
    align-items: center;
    align-content: center;
    align-self: center;
    grid-gap: 6%;
}

.main__sections {
    padding: 3%;
}

.form__item2{
    grid: 20% 80%/auto;
    grid-gap: 0;
    align-items: initial;
}

.form__input {
    height: 100%;
}

.main__projects {
    background: linear-gradient(20deg, rgba(199, 124, 56, 80%) 25%, rgba(199, 124, 55, 50%), rgba(193, 204, 153, 50%) 75%), url(../bg2.jpg);
}

.main__exp {
    background: linear-gradient(20deg, rgba(199, 124, 56, 80%) 25%, rgba(199, 124, 55, 50%), rgba(193, 204, 153, 50%) 75%), url(../bg2.jpg);

}

.main__contact {
    background: linear-gradient(20deg, rgba(199, 124, 56, 80%) 25%, rgba(199, 124, 55, 50%), rgba(193, 204, 153, 50%) 75%), url(../bg2.jpg);
}

textarea {
}

.skills__item {
    display: grid;
    grid: auto/24% 66%;
    height: 150px;
    align-content: center;
}

.main__skills {
    background: linear-gradient(20deg, rgba(199, 124, 56, 80%) 25%, rgba(199, 124, 55, 50%), rgba(193, 204, 153, 50%) 75%), url(../bg2.jpg);
}

.main__skills img {
    height: 100%;
}

.exp__labenu {
    display: grid;
    justify-content: center;
    grid: 40% 30%/40%;
    grid-gap: 7%;
    height: 80%;
}

.exp__image {
    max-width: 150px;
    display: flex;
    justify-self: center;
}

.exp__text {
    line-height: 2;
}

.aboutme__bio {
    display: grid;
    grid: auto-flow/16% 30%;
    grid-gap: 10%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.main__aboutme {
    padding: 5%;
    background: linear-gradient(20deg, rgba(199, 124, 56, 80%) 25%, rgba(199, 124, 55, 50%), rgba(193, 204, 153, 50%) 75%), url(../bg2.jpg);

}

.about__photo {
    justify-content: center;
}

.aboutme__text {
    text-align: left;
}

/* .header__lines active {
    content: '';
    width: 25px;
    background-color: gray;
    height: 5px;
    display: block;
    position: relative;
    top: 1px;
    transform: rotate(-85deg);
} */

.main__go-down {
    width: 50px;
    height: 50px;
    background: wheat;
    align-self: flex-end;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    position: absolute;
    margin: 0 0 20px 0;
}

.main__go-up {
    position: fixed;
    left: 100%;
    transform: translate(-160%, 0);
    width: 60px;
    bottom: 30px;
}