body {
  width: 100%;
  padding: 0;
  margin: 0;
}


.tela-inteira {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background: #000000d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
}

main {
  min-height: 80%;
  display: flex;
}

.menu-vertical {
  flex-basis: 200px;
  border-right-style: solid;
  border-right-width: thin;
  background: #262626;
  color: white;
  display: flex;
  justify-content: center;
}

.botoes-meunu-vertical {
  list-style-type: none;
}

.painel-de-videos {
  padding-left: 20px;
  padding-top: 20px;
  flex-grow: 1;
  grid-gap: 8px;
  display: grid;
  background: #000000eb;
  /* grid-template-columns: repeat(4, 24.8% 0.2%); */
  /* grid-template-rows: repeat(4, 270px 20px); */
}

.media1 {
  grid-column-start: 1;
  grid-row-start: 1;
}

.media2 {
  grid-column-start: 3;
  grid-row-start: 1;
}

.media3 {
  grid-column-start: 5;
  grid-row-start: 1;
}

.media4 {
  grid-column-start: 7;
  grid-row-start: 1;
}

.media5 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.media6 {
  grid-column-start: 3;
  grid-row-start: 3;
}

.media7 {
  grid-column-start: 5;
  grid-row-start: 3;
}

.media8 {
  grid-column-start: 7;
  grid-row-start: 3;
}


.box-pagina-principal {
  /* display: grid; */
  /* grid-template-rows: 3fr 1fr; */
  /* grid-template-columns: 1fr; */
  /* border-style: solid; */
  /* border-width: thin;  */
  align-items: start;
  justify-items: stretch;
}


footer {
  height: 10%;
  background-color: grey;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.box-pagina-principal > img {
  width: 100%;
  height: 200px;
}

h4 {
  margin-left: 20px;
}

.estender-menu::before {
  content: '';
  width: 22px;
  height: 3px;
  background: white;
  display: block;
  top: -6px;
  position: relative;
}

.estender-menu {
  width: 22px;
  height: 3px;
  background: white;
  margin: 0 30px 0 0;
}

.estender-menu::after {
  content: '';
  width: 22px;
  height: 3px;
  background: white;
  display: block;
  top: 3px;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-play {
  display: flex;
  background: red;
  height: 24px;
  width: 32px;
  border-radius: 6px;
  margin: 0 5px 0 0;
  justify-content: center;
  align-items: center;
}

.logo-triangulo {
  clip-path: polygon(0 0, 0 100%, 75% 53%);
  width: 10px;
  height: 10px;
  background: white;
}

.logo-nome {
  color: white;
  font-size: 24px;
}

.logo-br {
  color: dimgray;
  font-size: 14px;
  position: relative;
  top: -4px;
}

#campoDeBusca {
  padding: 5px 10px;
  background: #0000006b;
  border: 1px solid #3e3e3e;
  width: 90%;
}

#campoDeBusca::placeholder {
  font-size: 16px;
  color: dimgray;
}

.menu-vertical ul {
  margin: 0;
  padding: 0;
}

.menu-horizontal ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.criar-video {
  background: white;
  height: 10px;
  width: 15px;
}

.busca {
  width: 40%;
}

.menu-logo {
  display: flex;
  align-items: center;
}

.busca-icone {
  width: 10%;
}

.canal-imagem {
  clip-path: circle(21px);
  width: 54px;
}

.descricao {
  display: flex;
  flex-wrap: wrap;
  color: #a7a7a7;
  margin: 5px 0 0 0;
}

.descricao-mais {
  width: 100%;
  padding: 0 0 0 60px;
}

.tempo-atual {
  background: black;
  width: fit-content;
  color: white;
  padding: 2px;
  border-radius: 3px;
  font-size: 14px;
  display: flex;
  top: 97%;
  left: 99%;
  position: absolute;
  transform: translate(-100%, -100%);
}

.video {
  position: relative;
}

.nome-canal {
  margin: 0 10px;
  font-size: 20px;
  color: white;
}

.video img {
  max-width: 100%;
}