body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 20px;
}

body div:nth-child(4) {
    display: flex;
    height: 11.25%;
    width: 100%;
}

#main-container {
    height: 100%;
    flex-wrap: wrap;
}

.green-background {
    display: flex;
    background-color: green;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.yellow-background {
    display: flex;
    background-color: yellow;
    flex-grow: 3;
    align-items: center;
    justify-content: center;
}

.pink-background {
    background-color: fuchsia;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51.25%;
    width: 100%;
}

.blue-background {
    display: flex;
    background-color: blue;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.red-background {
    display: flex;
    background-color: red;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.lightgreen-background {
    display: flex;
    background-color: lightgreen;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.purple-background {
    display: flex;
    background-color: purple;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

#content2 {
    display: flex;
    flex-grow: 1;
}

#top-container {
    display: flex;
    height: 11.25%;
    width: 100%;
    flex-wrap: wrap;
}

#vertical-middle-container {
    display: flex;
    flex-direction: column;
}

#middle-container {
    display: grid;
    grid: auto/2fr 1fr 1fr;
    height: 26.25%;
    width: 100%;
}

#blank {
    display: flex;
    flex-grow: 3;
}

#image {
    display: flex;
    flex-grow: 1;
}

#extra {
    display: flex;
    flex-grow: 1;
}