* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: rgb(80, 80, 80, 80);
}

.main {
    max-width: 1200px;
    margin: auto;
}

.main__logo {
    font-family: 'Cormorant Garamond', serif;
    color: #79e079;
}

.main__brand {
    color: limegreen;
    text-transform: uppercase;
    font-weight: bold;
}

.main__title {
    text-align: center;
    font-size: 30px;
    margin: 50px 0 100px 0;
}

.main__subtitle {
    text-align: center;
    font-size: 25px;
    margin: 50px 0 100px 0;
}

.header {
    background: linear-gradient(to right, #2897ef, #3188af);
}

.nav {
    width: 100%;
    display: block;
}

.nav__menu {
    text-align: center;
    display: block;
    margin: auto;
}

.nav__item {
    padding: 15px;
    display: inline-block;
}

.nav__item:hover {
}

.nav__item:active {
}

/* Mudar dps */

a {
    color: white;
}

/* Mudar dps */

.about-us {
    margin: 50px 0 100px 0;
}

.about-us__title {
    text-align: center;
    font-size: 30px;
    margin: 25px;
}

.about-us__subtitle {
    text-align: center;
    font-size: 25px;
    margin: 20px;
}

.follow-us {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
    justify-content: center;
}

.follow-us__subtitle {
    text-align: center;
    margin: 20px;
    width: 100%;
}

.follow-us__icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.follow-us__icon {
    font-size: 45px;
}

.fa-facebook {
    color: #0064a2;
}
.fa-youtube {
    color: #af0202;
}
.fa-twitter {
    color: deepskyblue;
}
.fa-instagram {
    color: #824a82;
}

.footer {
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color: cadetblue;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
}

.footer__menu {

}

.footer__item {

}