body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 20px;
}

body div {
    display: grid;
}

#main-container {
    display: grid;
    grid: 1fr 8fr 4fr 1fr/ auto;
    height: 100%;
}

.green-background {

    background-color: green;
    align-items: center;
    justify-content: center;
}

.yellow-background {

    background-color: yellow;
    align-items: center;
    justify-content: center;
}

.pink-background {
    background-color: fuchsia;

    align-items: center;
    justify-content: center;
}

.blue-background {
    background-color: blue;
    align-items: center;
    justify-content: center;
}

.red-background {
    background-color: red;
    align-items: center;
    justify-content: center;
}

.lightgreen-background {
    background-color: lightgreen;
    align-items: center;
    justify-content: center;
}

.purple-background {
    background-color: purple;
    align-items: center;
    justify-content: center;
}

#content2 {
    display: grid;
}

#top-container {
    display: grid;
    grid: auto/1fr 4fr;
}

#middle-container {
    display: grid;
    grid: auto/2fr 1fr 1fr;
}

#vertical-middle-container {
    display: grid;
    grid: 50% 50%/auto;
    flex-direction: column;
}

#image {
    display: grid;
}

#extra {
    display: grid;
}